# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\htmlobj\ZkbLoveXyh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
